
body{
	background-image:url(../img/Fondo.png);
	}

#contenedor{
	width:80%;
	height:740px;
	background-color:#E8F4F7;
	margin:0 auto;
	border-radius:3px;
	box-shadow:3px 3px 3px #CCCCCC;
	}
	
#leerMensaje{
	position:relative;
	width:80%;
	height:40%;
	background-color:#FFF;
	margin:50px auto;
	padding:20px;
	border:1px solid #CCC;
	border-radius:3px;
	font-family:Verdana, Geneva, sans-serif;
	color:#999;
	}
	
#enviarMensaje{
	width:80%;
	height:14%;
	background-color:#09C;
	margin:50px auto;
	border-radius:3px;
	padding:20px;
	}
	
#mensaje{
	position:relative;
	width:96%;
	height:60%;
	margin:0 auto;
	font-family:Verdana, Geneva, sans-serif;
	padding:20px;
	}
	
#titulo{
	position:relative;
	width:100%;
	height:45px;
	font-family:Verdana, Geneva, sans-serif;
	color:#FFF;
	background-color:#09C;
	border-radius:3px;
	box-shadow:2px 2px 2px #CCCCCC;
	text-align:center;
	line-height:50px;
	}
	
#enviar{
	border:0px;
	width:100px;
	height:45px;
	font-family:Verdana, Geneva, sans-serif;
	color:#FFF;
	background-color:#09C;
	font-size:20px;
	margin-left:83%;
	box-shadow:2px 2px 2px #CCCCCC;
	border-radius:3px;
	}
	
#enviar:hover{
	background-color:#61B7C9;
	cursor:pointer;
	}

